html,
body,
div,
ul,
li,
a,
img,
span {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
  font-size: 16px;
}

body #wrapper {
    width: 960px;
}

body #wrapper > div {
  display: inline-block;
  margin: 15px 15px;
  border: 10px solid #ccc;
  border-radius: 5px;
  background-color: #ccc;
  width: 690px;
  height: 418px;
}

body #wrapper div.holder {
    float: left;
}

body #wrapper ul {
    list-style-type: none;
}

body #wrapper div.holder img {
    border-radius: 5px;
    height: 414px;
}

body #wrapper div.playlist {
    position: relative;
    margin-left: 570px;

}

body #wrapper div.playlist ul li {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 1px;
    border-bottom: 1px solid black;
}

body #wrapper div.playlist ul li a {
    text-decoration: none;
}

body #wrapper div.playlist ul li a:hover {
    text-decoration: underline;
    color: black;
}

body #wrapper div.playlist ul li a img {
    border-radius: 10px;
    border: none;
    margin-left: 12px;
}

body #wrapper div.playlist ul li a span {
    color:black;
    font-weight: bold;
    position: relative; 
}