html, body, div, ul, li, a, table, thead, th, td, tr {
    margin: 0;
    padding: 0;
}

body {
    font-family: Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
}

div#wrapper {
    display: block;
    width: 960px;
    position: relative;
}

body div#wrapper ul.tab-strip {
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
    width: 340px;
}

body div#wrapper ul.tab-strip li:last-of-type > a {
    border-right: 0;
}

body div#wrapper ul.tab-strip li {
    display: inline-block;
    margin-right: -4px;
}

body div#wrapper ul.tab-strip li div.tab-content {
    display: none;
}

body div#wrapper ul.tab-strip li a {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
    display: block;
    padding: 5px 15px;
    background: #ededed;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYmFiYWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ededed 0%, #ababab 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #ababab));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ededed 0%, #ababab 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ededed 0%, #ababab 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ededed 0%, #ababab 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ededed 0%, #ababab 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ababab', GradientType=0);
    /* IE6-8 */
    border-radius: 5px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: none;
}

    body div#wrapper ul.tab-strip li a:hover {
        background: rgb(238,238,238);
    }

body div#wrapper ul.tab-strip .current a {
    background: none;
    font-weight: bold;
    border: none;
    border-right: 1px solid black;
    border-radius: 0;
}

    body div#wrapper ul.tab-strip .current > div.tab-content {
        display: block;
        position: absolute;
        left: 0px;
        margin-left: 15px;
        padding-top: 14px;
        padding-left: 20px;
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        width: 320px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        padding-bottom: 30px;
        height: 150px;
    }

body div#wrapper ul.tab-strip .current > div.tab-content > ul > li {
    display: list-item;
    list-style-type: disc;
}

    body div#wrapper ul.tab-strip .current > div.tab-content > ul > li > ul > li {
        display: list-item;
        list-style-type: lower-alpha;
        margin-left: 25px;
    }

body div#wrapper div.tab-content table {
   border-collapse: collapse;

}

body div#wrapper div.tab-content table, th, td {
    border: 1px solid black;
}

body div#wrapper div.tab-content table th {
    text-align: center;
}

body div#wrapper div.tab-content table th, td {
    width: 95px;
    height: 29px;
}

body div#wrapper div.tab-content table, td {
    padding-left: 5px;
}

body div#wrapper div.tab-content table thead {
    background: #ababab;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FiYWJhYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ababab 0%, #eeeeee 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ababab), color-stop(100%, #eeeeee));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ababab 0%, #eeeeee 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ababab 0%, #eeeeee 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ababab 0%, #eeeeee 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ababab 0%, #eeeeee 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ababab', endColorstr='#eeeeee', GradientType=0);
    /* IE6-8 */
}

body div#wrapper div.tab-content table tbody {
    background: rgb(238,238,238);
}


