body, html, div, ul, li, a, img {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
    font-size: 16px;
}

body #wrapper {
    width: 960px;
    margin: 25px 25px;
}

body #wrapper div {
    display: inline-block;
}

body #wrapper div > a {
    position: relative;
    top: -80px;
}

body #wrapper div ul {
    color: black;
    display: inline-block;
    list-style-type: none;
    width: 150px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #8169ff;
    background: -moz-linear-gradient(top, #8169ff 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8169ff), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #8169ff 0%, #ffffff 100%);
    background: -o-linear-gradient(top, #8169ff 0%, #ffffff 100%);
    background: -ms-linear-gradient(top, #8169ff 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #8169ff 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8169ff', endColorstr='#ffffff', GradientType=0);
}

body #wrapper div ul li {
    border-bottom: 1px solid black;
    padding: 5px 15px;
}

body #wrapper div ul li:first-letter {
    text-decoration: underline;
}

body #wrapper div ul li:last-of-type {
    border: none;
}

body #wrapper div ul li.selected {
    background: #6c4eff;
}
